.container-custom{
    /* background-image: linear-gradient(to left bottom, #fffdf7, #fdf9f1, #fbf5ec, #f9f0e6, #f8ece1, #f8e6d8, #f8e1cf, #f8dbc7, #f9d3ba, #fbcaad, #fcc1a1, #fdb896); */
    position:fixed;
    background-image: linear-gradient(to left bottom, #ffffff, #f8f7f8, #f3eff0, #ede7e6, #e6e0dc, #dedad5, #d6d3ce, #cecdc7, #c6c5c1, #bebeba, #b7b6b4, #afafae);
    width: 100%;
    height: 100%;
}
.card1{
    background-color: #fff;
    height:84%;
    width: 92%;
    margin:4%;
    border-radius: 6px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.team{
    margin-top: 10%;
    height: 80%;
    width:60%;
    opacity: 90%;
}
.login-form{
    background: #fff;
    margin-top: 5.5%;
    margin-right: 4%;
    height: 75%;
    width: 27%;
    float: right;
    border-radius: 7px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-left: 3%;
    padding-right: 3%;
}
.login-comp{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
    color:black;
}
.user-logo{
    margin-top: 3%;
    text-align: center;
}
.logo{
    height: 20%;
    width: 20%;
    color:black;
}
.login-btn{
    padding-top: 4%;
    
}
.cust-input{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cust-input1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000;
}
.input-field{
    margin-top: 10%;
}
.btn-primary{
    background-color: #000;
    border:none;
}
.brand-logo{
    margin-top: 2%;
}

.brand-logo1{
    position:absolute;
    margin-top: 2%;
    margin-left: 4%;
    height: 15%;
    width: 12%;
    
}
